spring:
  datasource:
    url: jdbc:h2:file:~/nofficeDevDB;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        ddl-auto: create
        format_sql: true

  jackson:
    property-naming-strategy: LOWER_CAMEL_CASE

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

jwt:
  secret: harthartharthartharthartharthart
  access-token-expiration: 300000
  refresh-token-expiration: 86400000

server:
  domain:
    origin: ${SERVER_DOMAIN_ORIGIN}
    certified: ${SERVER_DOMAIN_CERTIFIED}

client:
  apple-auth:
    url: https://appleid.apple.com/auth
  google-auth:
    url: https://oauth2.googleapis.com

oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    grant-type: authorization_code
    redirect-uri: ${GOOGLE_REDIRECT_URI}

  apple:
    grant-type: authorization_code
    client-id: ${APPLE_CLIENT_ID}
    key-id: ${APPLE_KEY_ID}
    team-id: ${APPLE_TEAM_ID}
    audience: https://appleid.apple.com
    private-key: ${APPLE_PRIVATE_KEY}