files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/noffice-application.jar

            # run app
            killall java
            java -Dfi le.encoding=UTF-8 -Dspring.profiles.active=dev -jar $JAR_PATH